<main>
        <div class="position-relative">
          <!-- shape Hero -->
          <section class="section section-md section-shaped pb-200">
            <div class="shape shape-style-3 shape-default">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="container py-sm d-flex">
              <div class="col px-0">
                <div class="row">
                  <div class="col-lg-12 pt-md pb-md">
                    <h1 class="display-3 text-white">
                      <div class="icon rounded-circle float-left">
                        <i class="ni ni-planet"></i>
                      </div>
                      As melhores oportunidades de TI em Portugal</h1>
                    <p class="lead  text-white">O melhor lugar para encontrar oportunidades para quem desejar mudar para Portugal</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew">
              <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
              </svg>
            </div>
          </section>
          <!-- 1st Hero Variation -->
        </div>

        <section class="section" *ngIf="!isLoadingResults">
            <div class="container">
              <div class="card card-profile shadow mt--300">
                <div class="px-4">
                  <div class="text-center mt-5">
                    <h3>{{job.title}}<span class="font-weight-light" *ngIf="!isEmpty(job.experience)"> Nivel: {{job.experience}}</span></h3>
                    <div class="h6 font-weight-300"><i class="ni location_pin mr-2"></i>{{job.location}}</div>
                  </div>
                  <div class="mt-5 py-5 border-top text-center">
                    <div class="row justify-content-center">
                      <div class="col-lg-9">
                        <p>
                          <p *ngIf="!isEmpty(job.time)">
                            Horário de trabalho: <span>{{job.time}}</span>
                          </p>
                          <p *ngIf="!isEmpty(job.segment)">
                            Área: <span>{{job.segment}}</span>
                          </p>
                          <p *ngIf="!isEmpty(job.sector)">
                            Setor: <span>{{job.sector}}</span>
                          </p>
                          <div [innerHTML]="job.description"></div>
                        <a [href]="formLink+(job.title + ' @' + job.id | encodeUri)" target="_blank" class="btn btn-primary mt-4">Enviar CV</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="section" *ngIf="isLoadingResults">
            <div class="container">
              <div class="card card-profile shadow mt--300">
                <div class="px-4">
                  <div class="text-center mt-5">
                    <img class="w-25" src="assets/img/loading.gif" alt="Carregando...">
                    <p class="lead">Estamos procurando os detalhes desta vaga...</p>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section class="section section-lg pt-lg-0" *ngIf="!isEmpty(job.tags)">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-12">
                  <div class="text-center mt-5">
                    <h5>Vagas relacionadas</h5>
                  </div>
                  <app-related [jobCurrent]="job"></app-related>
                </div>
              </div>
            </div>
          </section>

      </main>
      <footer class="footer has-cards">
        <div class="container">
          <div class="row row-grid align-items-center my-md">
            <div class="col-lg-6">
              <h3 class="text-primary font-weight-light mb-2">Obrigado por vir até aqui!</h3>
            </div>
            <div class="col-lg-6">
            </div>
          </div>
        </div>
      </footer>
